.connection {
	display: flex;
	flex-wrap: wrap;

	.connection-info, .connection-settings {
		margin: 0 $spacing $spacing;
	}

	@include medium {
		.connection-info, .connection-settings {
			margin-bottom: 0;
			width: 50%;
			flex-grow: 1;
			flex-basis: 40%;
		}
		.alert {
			width: 100%;
			flex-basis: 100%;
		}
		.connection-settings {
			order: 2;
			margin-right: 0;
		}
		.connection-info {
			order: 1;
			margin-left: 0;
		}
	}
}