.page-home {
	margin: 0 auto;
	max-width: 60rem;
	width: 100%;

	.home-connect, .home-info {
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		margin: $spacing;
	}

	@include medium {
		display: flex;

		.home-connect, .home-info {
			flex: 1;
			width: 50%;
		}

		.home-connect {
			order: 2;
		}
		.home-info {
			order: 1;
		}
	}
}
