.settings-container {
	display: flex;

	.settings-group {
		flex: 1 1 100%;

		@include medium {
			width: 50%;
			flex-basis: 50%;
			padding-left: $spacing;

			&:nth-child(2n + 1) {
				padding-left: 0;
				padding-right: $spacing;
			}
		}
	}
}