.panel-grid {
	display: flex;
	align-items: stretch;
	&.is-horizontal {
		flex-direction: row;
		.editing-mode & > .panel {
			margin-right: $spacing;
		}
	}
	&.is-vertical {
		flex-direction: column;
		.editing-mode & > .panel {
			margin-bottom: $spacing;
		}
	}

	.add-panel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $spacing;
	}
}
