$resize-handler-size: 0.5rem;

.panel-grid {
	display: flex;
	align-items: stretch;
	&.is-horizontal {
		flex-direction: row;
		& > .resize-handler {
			flex-direction: column;
			padding: 0 $spacing;
			width: $resize-handler-size + $spacing * 2;
			.dot + .dot {
				margin-top: $resize-handler-size;
			}
		}
		& > .add-panel {
			height: 100%;
			margin-left: $spacing;
			width: 24px;
		}
	}
	&.is-vertical {
		flex-direction: column;
		& > .resize-handler {
			flex-direction: row;
			height: $resize-handler-size + $spacing * 2;
			padding: $spacing 0;
			.dot + .dot {
				margin-left: $resize-handler-size;
			}
		}
		& > .add-panel {
			flex-direction: row;
			height: 24px;
			margin-top: $spacing;
			width: 100%;
		}
	}

	.resize-handler {
		display: flex;
		justify-content: center;
		cursor: move;
		.dot {
			display: block;
			background-color: rgba(255, 255, 255, 0.6);
			border-radius: $resize-handler-size;
			height: $resize-handler-size;
			width: $resize-handler-size;
		}
	}

	.add-panel {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 1.5rem + $spacing * 2;
		justify-content: center;
		padding: $spacing;
	}
}
