.panel-mixer {
	display: flex;
	flex-direction: column;

	& > .audio-devices {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow-y: auto;

		& > .audio-device {
			border: none;
			flex: 1 0 auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

			& > .is-active {
				background-color: rgba(116, 219, 135, 1.0);
			}

			& > .is-active:hover {
				background-color: rgba(116, 219, 135, 0.5);
			}

			& > .is-inactive {
				background-color: rgba(219, 127, 116, 1.0);
			}

			& > .is-inactive:hover {
				background-color: rgba(219, 127, 116, 0.5);
			}
	}
}
