.panel-scenes {
	display: flex;
	flex-wrap: wrap;

	.scene {
		border: none;
		color: #000000;
		font-size: 1.1rem;
		min-height: 8rem;
		outline: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;

		@include large {
			font-size: 2rem;
		}
	}

	@for $i from 1 through 10 {
		&.per-row-#{$i} .scene {
			flex-basis: 100% / $i;
		}
	}
}
