.panel-sources {
	display: flex;
	flex-direction: column;

	& > .scene-name {
		flex: 0 0 auto;
		margin: 0;
		padding: $spacing;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	& > .sources {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow-y: auto;

		& > .source {
			border: none;
			flex: 0 0 auto;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
