$switcher-scene-bg: $inactive-color;
$switcher-active-scene-bg: $active-color;

.switcher {
	display: flex;
	flex: 1 1 70%;
	flex-wrap: wrap;
	min-height: 70%;
	overflow-y: auto;

	@include medium {
		flex: 1 1 75%;
	}

	.scene {
		border: none;
		background-color: $switcher-scene-bg;
		color: #000000;
		font-size: 1.1rem;
		min-height: 4rem;
		outline: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;

		@include large {
			font-size: 2rem;
		}

		transition: background-color 0.2s;

		&:hover, &:focus {
			background-color: darken($switcher-scene-bg, 5%);
		}
		&.active {
			background-color: $switcher-active-scene-bg;
		}
	}

	@for $i from 1 through 10 {
		&.per-row-#{$i} .scene {
			flex-basis: 100% / $i;
		}
	}



}