.panel-transitions {
	display: flex;
	flex-direction: column;

	& > .transitions-list {
			text-align: center;
		}

	& > .transitions {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow-y: auto;

		& > .transition {
			border: none;
			flex: 0 0 auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
