// from https://github.com/jgthms/bulma/blob/404d5fdd7d3e8053bc9858b2d8a768c18c8be56d/sass/utilities/mixins.sass#L32
.close {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 290486px;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	height: 20px;
	padding: 0;
	outline: none;
	position: relative;
	vertical-align: top;
	width: 20px;

	&:before,
	&:after {
		background-color: #ffffff;
		content: "";
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transform-origin: center center;
	}
	&:before {
		height: 2px;
		width: 50%;
	}
	&:after {
		height: 50%;
		width: 2px;
	}
	&:hover,
	&:focus {
		background-color: rgba(0, 0, 0, 0.3);
	}
	&:active {
		background-color: rgba(0, 0, 0, 0.4);
	}
}
