.container {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	& > * {
		flex: 0 0 auto;
	}

	.panels {
		align-items: stretch;
		display: flex;
		flex: 1;
		min-height: 0;
	}
}