.container {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;

	.content {
		display: flex;
		flex-grow: 1;
		width: 100%;
		overflow-y: hidden;

		&.is-scrollable {
			overflow-y: auto;
		}
	}
}
