label {
	cursor: pointer;
	display: block;
	font-size: 0.8em;
	margin-top: $spacing / 2;
	margin-bottom: $spacing;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
textarea {
	border: none;
	border-bottom: $input-thin-bottom-border solid rgba(0, 0, 0, 0.6);
	display: block;
	font-size: 1rem;
	margin-bottom: $spacing;
	padding: ($spacing / 2) ($spacing / 3) ($spacing / 2 + ($input-wide-bottom-border - $input-thin-bottom-border));
	width: 100%;

	&:focus, &:active {
		border-bottom-width: $input-wide-bottom-border;
		border-bottom-color: $main-color;
		padding-bottom: $spacing / 2;
	}
}

.input-group {
	display: flex;
	flex-direction: row;

	& > input {
		flex-grow: 1;
	}

	& > span {
		padding-left: 0.5em;
		padding-right: 0.5em;
		text-align: center;
	}
}
