.media {
	align-items: flex-start;
	display: flex;
}
a.media {
	padding: $spacing / 2;
	margin: 0 (-$spacing / 2);
	transition: background-color 0.2s;
	&:hover:not(.is-disabled) {
		background: rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
	&.is-disabled {
		opacity: 0.5;
	}
}
.media-left, .media-right {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}
.media-left {
	margin-right: $spacing;
}
.media-right {
	margin-left: $spacing;
}
.media-content {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
}
