.overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	z-index: 9999;

	position: fixed;
	top: $top-bar-height-small;
	right: 0;
	bottom: 0;
	left: 0;

	@include medium {
		top: $top-bar-height-medium;
	}

	& > .modal {
		background-color: #fff;
		color: #333;
		max-height: 100%;
		overflow-y: auto;
		padding: $spacing * 2;
		width: 100%;

		@include medium {
			width: 40%;

			&.wide {
				width: 80%;
			}
		}

		.modal-header {
			display: flex;
			margin-bottom: $spacing;

			.title {
				flex: 1;
				font-size: 1.5rem;
				line-height: 1em;
				margin: 0;
			}
			.close {
				height: 1.5rem;
				margin-left: $spacing;
				width: 1.5rem;
			}
		}
	}
}
