$switcher-scene-bg: #e0e0e0;
$switcher-active-scene-bg: #80cbc4;

.switcher {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	overflow-y: auto;

	.scene {
		border: none;
		background-color: $switcher-scene-bg;
		color: #000000;
		font-size: 1.1rem;
		@include ellipsis();
		min-height: 4rem;
		outline: none;

		@include medium {
			font-size: 2rem;
		}

		transition: background-color 0.2s;

		&:hover, &:focus {
			background-color: darken($switcher-scene-bg, 5%);
		}
		&.active {
			background-color: $switcher-active-scene-bg;
		}
	}

	&.per-row-4 .scene {
		flex-basis: 25%;
	}

}