h1, h2, h3, h4, h5, h6 {
	margin-top: $spacing;
	margin-bottom: $spacing;
}

p {
	margin-bottom: $spacing;
}

.success-text {
	color: darken($success-color, 10%);
}
.warning-text {
	color: lighten($warning-color, 30%);
}
.error-text {
	color: lighten($error-color, 30%);
}

.is-marginless {
	margin: 0;
}
