.top-bar {
	background-color: darken($main-color, 20%);
	color: $white-color;
	display: flex;
	height: $top-bar-height-small;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 100%;
	z-index: 99999;

	@include medium {
		height: $top-bar-height-medium;
	}

	.space {
		flex-grow: 1;
	}

	.item {
		margin: 0 $spacing / 2;
		line-height: $top-bar-height-small;

		@include medium {
			margin: 0 $spacing;
			line-height: $top-bar-height-medium;
		}

		& > button {
			background-color: $main-color;
			border: none;
			color: $white-color;
			height: $top-bar-height-small;
			line-height: 1rem;
			padding: (($top-bar-height-small - 1rem) / 2) $spacing;
			transition: background-color 0.3s;

			@include medium {
				font-size: 1.2em;
				height: $top-bar-height-medium;
				padding: (($top-bar-height-medium - 1.2rem) / 2) ($spacing * 1.5);
			}

			&:hover {
				background-color: darken($main-color, 10%);
			}

			.material-icons {
				// somehow looks best, I dunno why
				margin-top: -2px;
				margin-bottom: -2px;
			}
		}
	}
}
