$top-bar-text-color: #fafafa;

.top-bar {
	background-color: darken($main-color, 10%);
	color: $top-bar-text-color;
	display: flex;
	height: 3rem;
	width: 100%;

	.space {
		flex-grow: 1;
	}
	.item {
		@include margin(null 1rem);
		line-height: 3rem;
		& > #{$all-buttons} {
			background-color: $main-color;
			color: $top-bar-text-color;
			font-size: 1.2em;
			height: 3rem;
			line-height: 1;
		}
	}
}