<div class="container">
	<div class="top-bar">
		<div class="item" v-attr="title: obs.version ? 'OBS Remote Version: ' + obs.version : false">
			Connection: <span v-class="connectionStateClass" v-text="connectionStateText"></span>
		</div>
		<div class="space"></div>
		<div class="item">
			<button v-on="click: toggleFullscreen">Full Screen</button>
		</div>
	</div>
	<div class="panels">
		<switcher connection-ready="{{obsConnectionReady}}"></switcher>
	</div>
	<!-- Modals -->
	<modal modal-class="wide" v-if="!autoConnecting && !obs.connected">
		<div class="connection">
			<div class="connection-error" v-if="connectionError" v-text="'Connection Error: ' + connectionError"></div>
			<div class="connection-settings">
				<label>
					Host
					<input type="text" placeholder="localhost (Current computer)" v-model="obs.host"
					       v-on="keyup: connectToOBS | key 'enter'"/>
				</label>
				<label>
					Port
					<input type="number" placeholder="4444" v-model="obs.port"
					       v-on="keyup: connectToOBS | key 'enter'"/>
				</label>
				<button v-attr="disabled: obs.connecting" v-on="click: connectToOBS"
				        v-text="obs.connecting ? 'Connecting...' : 'Connect'"></button>
			</div>
			<div class="connection-info">
				<h2>Usage Instructions</h2>

				<p>To use OBS Tablet Remote make sure you have installed the <a href="http://www.obsremote.com/">OBS
					Remote plugin</a>.</p>

				<h2>Automatic Login</h2>

				<p>To automatically connect, bookmark this URL with connection info in URL after #!auto (default values
					can be skipped)</p>

				<label>
					Current settings:
					<input type="text" readonly
					       v-model="exampleURL"/>
				</label>

				<p>To include password add &password={password}. Note that all fields can't include &amp; or =.</p>
			</div>
		</div>
	</modal>
	<modal v-if="!autoConnecting && obs.authRequired">
		<div class="authentication">
			<div class="authentication-error" v-if="authenticationError" v-text="'Error: ' + authenticationError"></div>
			<h2>Password required</h2>
			<label>
				Password
				<input type="password" v-model="obs.password"
				       v-on="keyup: authOBS | key 'enter'"/>
			</label>
			<button v-attr="disabled: obs.authenticating" v-on="click: authOBS"
			        v-text="obs.connecting ? 'Checking...' : 'Log In'"></button>
		</div>
	</modal>
	<modal v-if="autoConnecting">
		<h2>Connecting...</h2>
	</modal>
</div>