$main-color: #2196f3;
$success-color: #4caf50;
$warning-color: #FDD835;
$error-color: #f44336;
$white-color: #fafafa;

$active-color: #80cbc4;
$inactive-color: #e0e0e0;

$editor-bg: #1976d2;
$editor-color: #e3f2fd;
