@import "bourbon";
@import "responsive";

$main-color: #2196f3;
$success-color: #4caf50;
$warning-color: #ffff00;
$error-color: #f44336;
$spacing: 3rem / 4;
$top-bar-height-small: 2rem;
$top-bar-height-medium: 3rem;

@import "base";
@import "input";

@import "components/modal";
@import "components/container";
@import "components/topbar";
@import "panels/_switcher";

@import "pages/connect";
@import "pages/authentication";
