$base-font-family: $helvetica;

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #333333;
	font-family: $base-font-family;
	font-size: 1em;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $base-font-family;
	font-size: 1em;
	line-height: 1.2;
	margin: 0 0 $spacing;
}

p {
	margin: 0 0 $spacing;
}

.success-text {
	color: lighten($success-color, 30%);
}
.warning-text {
	color: lighten($warning-color, 30%);
}
.error-text {
	color: lighten($error-color, 30%);
}