label {
	cursor: pointer;
	display: block;
	font-size: modular-scale(-1);
	margin-bottom: 0.5em;
}

$input-thin-bottom-border: 1rem / 16;
$input-wide-bottom-border: $input-thin-bottom-border * 3;

#{$all-text-inputs} {
	border: none;
	border-bottom: $input-thin-bottom-border solid rgba(0, 0, 0, 0.6);
	display: block;
	font-size: 1rem;
	margin-bottom: $spacing;
	padding: modular-scale(-3) modular-scale(-4);
	width: 100%;
}

#{$all-text-inputs-focus}, #{$all-text-inputs-active} {
	border-bottom-width: $input-wide-bottom-border;
	border-bottom-color: $main-color;
	margin-bottom: $spacing - ($input-wide-bottom-border - $input-thin-bottom-border);
}

#{$all-buttons} {
	background-color: $main-color;
	border: 1px solid darken($main-color, 10%);
	color: #fafafa;
	cursor: pointer;
	padding: $spacing $spacing * 1.5;
}