@import "../../node_modules/sanitize.css/sanitize";

html {
	font-family: -apple-system,  BlinkMacSystemFont, "Segoe UI",  Roboto,  Oxygen-Sans,  Ubuntu,  Cantarell, "Helvetica Neue", sans-serif;
	&, body {
		height: 100%;
	}
}

@import "configs/breakpoints";
@import "configs/colors";
@import "configs/sizes";

@import "components/buttons";
@import "components/icons";
@import "components/input";
@import "components/text";

@import "components/alert";
@import "components/close";
@import "components/container";
@import "components/media";
@import "components/modal";
@import "components/panel";
@import "components/topbar";
@import "components/tab";
@import "components/topbar";

@import "panels/grid";
@import "panels/invalid";
@import "panels/scenes";
@import "panels/sources";
@import "panels/stream";
@import "panels/transitions";

@import "pages/connect";
@import "pages/dashboard";
@import "pages/home";
@import "pages/settings";
