$root-font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

* {
	// https://github.com/10up/sanitize.css/issues/2
	position: relative;
	overflow: hidden;
}

[hidden], head, body script, body style, body template {
	display: none;
}

html, body {
	height: 100%;
}

@import "../../node_modules/sanitize.css/sanitize";

:root {
	overflow-y: auto; // don't really want
}

@import "configs/breakpoints";
@import "configs/colors";
@import "configs/sizes";

@import "components/buttons";
@import "components/input";
@import "components/text";

@import "components/container";
@import "components/modal";
@import "components/panels";
@import "components/topbar";
@import "components/switcher";

@import "pages/connect";

#__bs_notify__ {
	bottom: 0;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 5px;
	top: auto !important;
}