@import "../../node_modules/sanitize.css/sanitize";

html {
	font-family: -apple-system,  BlinkMacSystemFont, "Segoe UI",  Roboto,  Oxygen-Sans,  Ubuntu,  Cantarell, "Helvetica Neue", sans-serif;
	&, body {
		height: 100%;
	}
}

@import "configs/breakpoints";
@import "configs/colors";
@import "configs/sizes";

@import "components/buttons";
@import "components/input";
@import "components/text";

@import "components/alert";
@import "components/container";
@import "components/modal";
@import "components/panels";
@import "components/topbar";

@import "panels/_sources";
@import "panels/_switcher";

@import "pages/connect";
@import "pages/settings";
