/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 */
@import '~tailwindcss/base.css';

/**
 * This injects any component classes registered by plugins.
 */
@import '~tailwindcss/components.css';

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 * @import 'components/buttons';
 */
@import 'components/alert.css';
@import 'components/buttons.css';
@import 'components/button-grid.css';
@import 'components/card.css';
@import 'components/form.css';
@import 'components/modal.css';

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@import '~tailwindcss/utilities.css';

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example:
 * @import 'utilities/background-patterns';
 */
@import 'utilities/text-overflow.css';

@import 'themes/default.css';
@import 'themes/dark-blue.css';
